.horiz-line {
    display: flex !important;
    align-items: center !important;
    text-align: center !important;
  }

  .horiz-line:not(:empty)::before {
    margin-right: 0.25em !important;
  }

  .horiz-line:not(:empty)::after {
    margin-left: 0.25em !important;
  }

  .horiz-line::after,
  .horiz-line::before {
    content: "" !important;
    border-top: 2px dotted black !important;
    flex: 1 !important;
  }